// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    mod-key "Alt"
    keyboard {
        xkb {
            options "caps:ctrl_modifier"
        }
        numlock
    }
    touchpad {
        tap
        natural-scroll
    }
    workspace-auto-back-and-forth
}

gestures {
   hot-corners {
    off
  }
}
